shapeArtifactoryUsername={{ onepasswordRead "op://Employee/yhfqukq2txfsem4lpyh23hgm3y/username" }}
shapeArtifactoryPassword={{ onepasswordRead "op://Employee/yhfqukq2txfsem4lpyh23hgm3y/gradle.properties password" }}
